body {
    background-color: bisque;
}

h1 {
    color: blue;
    background-color: cornsilk;
}

#show_sketch {
    float: right;
}

p {
    font-size: 25px;
    padding-top: 10px;
}



canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}

@keyframes example {
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}